#ribbon{
    background-color: rgb(0, 162, 255);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(3, 5, 18, 0.5) 25px, rgba(3, 5, 18, 0.5) 40px);
}
#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}
#birthday{
    background-color: aqua;
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
#birthday img{
    position: relative;
    margin-top: -30px;
}
.text-shadow{
    text-shadow: 0 3px 3px rgba(13, 83, 233, 0.6);
}

#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-ribbon.content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius: 50%;
}
.card-border{
    border:solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}
#talleres{
    background-color: rgb(255,255,255);
    background: url(../imagenes/bg-02.png), linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(99,196,255,1) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

#separator-estudies{
    width: 100%;
    overflow: hidden;
    position:relative;
    z-index:2;
}
#separator-estudies.content{
    background: url(../imagenes/bg-03.png);
    width: 110%;
    height: 100px;
    margin-left: -5%;
    border-top-left-radius:50% ;
    border-top-right-radius: 50%;
}
#estudies{
    background: url(../imagenes/bg-01.png), url(../imagenes/bg-03.png);
    background-repeat: no-repeat, repeat;
    background-position: bottom center, center center;
    background-size: 100%,auto;
}
.estudies{
    cursor: pointer;
    transition: all ease-out o.2%;
}
.estudies:hover{
    transform: scale(1.05);
}
.estudies-name{
    background-color: rgba(0,0,0,0.4);
    color: rgb(78, 180, 60);
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-radius: 13px;
}
#separeitor-estudies-footer{
    height: 20vw;
}
#contacto{
    background-color: rgb(8, 233, 158);
}